body {
  background: url(images/background.jpg);
  background-size: cover;
}

#nameTitle {
  color: red;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-align: center;
  font-size: 3em;
  vertical-align: middle;
}

#userResult {
  text-align: center;
  height: 50%;
  font-size: 35px;
  padding-top: 5px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
.tabButton {
  width: 145px;
  border: 5px solid black;
  margin: 0px;
  padding: 0px;
  height: 30px;
  font-size: 15px;
  color: azure;
  font-weight: bold;
  background-color: rgba(100,200,200,0.5);
}

#scoreBoard {
  text-align: left;
  font-weight: 900;
  height: 250px;
  color: azure;
}

#pre-game-board {
  height: 280px;
}

#pre-game-image {
  background: url(images/skull.png);
  height: 230px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.rightDiv {
  height: 285px;
  border: 5px 0 0 0 solid black;
}

#div1 {
  border-bottom: 10px solid black;
  height: 275px;
}

button:focus {outline:0;}

#top-left-corner {
  background-color: rgba(33,101,28,0.62);
  height: 100px;
  border: 10px solid black;
}

#top-mid {
  height: 100px;
  background: rgba(144,144,34,0.78);
  border: 10px solid black;
}

#top-right-corner {
  background-color: rgba(33,101,28,0.62);
  height: 100px;
  border: 10px solid black;
  padding: 0px;
  font-size: 16px;
  color: whitesmoke;
  font-weight: 600;
  text-align: center;
}

.beforeShot {
  padding-top: 11px;
  vertical-align: text-bottom;
  border: 5px solid whitesmoke;
  background-color: rgba(33,101,28,0.62);
  height: 80px;
}

.afterShot {
  box-shadow:0px 0px 0px 10px red inset;
  padding-top: 16px;
  border: 0;
  height: 80px;
}

#left-column {
    background-color: rgba(109,20,20,0.73);
    height: 570px;
    border: 10px solid black;
}

#gameBoard {
  height: 570px;
  background: rgba(20,62,95,0.73);
  border: 10px solid black;
}

#right-column {
    background-color: rgba(109,20,20,0.73);
    height: 570px;
    border: 10px solid black;
}

#bottom-section {
    height: 570px;
}

#player-row {
  margin: 0;
  padding: 0 0 5px 0;
}

#scoreHeader {
  text-align: center;
  background-color: grey;
  margin: 0;
  height: 35px;
  padding: 3px;
}

#enemyGameBoard {
  height: 270px;
  background: rgba(20,62,95,0.73);
  border-top: 10px solid black;
  padding: 7px 0px 0px 10px;
}

#user-column {
  transform: rotate(90deg);
}

.enemy-row {
  margin: 0 auto !important;
}

#firstRow {
  padding-top: 8px;
}

.box {
  width: 8%;
  height: 48px;
  margin: 2px 0px 0px 10px;
  padding: 0.5px;
  background-color: grey;
  display: inline-block;
  border-radius: 7px;
}
.enemy-box {
  width: 8%;
  height: 19px;
  margin: 1px 0px 0px 5px;
  padding: 2px;
  background-color: grey;
  display: inline-block;
  border-radius: 7px;
}
.box:hover {
  box-shadow:0px 0px 0px 5px yellow inset;
}

#pre-game-button {
  height: 45px;
}

.playerPoint {
  background: url(images/Player_ship.png);
  background-size: cover;
  height: 30px;
  width: 30px;
  display: inline-block
}
.enemyPoint {
  background: url(images/Pirate_Ship.png);
  background-size: cover;
  height: 30px;
  width: 30px;
  display: inline-block
}

.name-header {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 2px;
  text-decoration: underline;
}